* {
  box-sizing: border-box;
}
body {
  background-color: #eef9bf;
}

header {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 66px;
  letter-spacing: -0.004em;

  color: #75b79e;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  margin: 0 auto;
  margin-top: 50px;
  flex-wrap: wrap;
}

.board .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 117px;
  height: 146px;

  background: #a7e9af;
  border: 1px solid #99cea8;
  border-radius: 5px;

  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center;

  transform-style: preserve-3d;
  perspective: 100px;
  transition: all 0.5s;
}
.board .front {
  position: absolute;
  height: 100px;
  width: 100px;

  background-size: 100px 100px;
  background-position: center;
  backface-visibility: hidden;
}
.board .back {
  position: absolute;
  height: 100px;
  width: 100px;

  background-size: 100px 100px;
  background-position: center;
  backface-visibility: hidden;

  transform: rotateY(180deg);
}

.board img {
  width: 100px;
  height: 100px;
}
